*.am linguist-detectable=false
*.in linguist-detectable=false
*.m4 linguist-detectable=false
*.mak linguist-detectable=false
*.bpr linguist-detectable=false
*.bpf linguist-detectable=false
*.sh linguist-detectable=false
*.txt linguist-detectable=false

