*.am linguist-detectable=false
*.in linguist-detectable=false
*.m4 linguist-detectable=false
*.mak linguist-detectable=false
*.bpr linguist-detectable=false
*.bpf linguist-detectable=false
*.sh        linguist-detectable=false
*.bash      linguist-detectable=false
*.zsh       linguist-detectable=false
CMakeLists.txt   linguist-detectable=false
*.cmake          linguist-detectable=false

